*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: DmBold;
    src: url(fonts/DMSans-Bold.ttf);
}
@font-face {
    font-family: DmSemi;
    src: url(fonts/DMSans-SemiBold.ttf);
}
@font-face {
    font-family: Dm;
    src: url(fonts/DMSans-Regular.ttf);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: #081a30;
}

::-webkit-scrollbar-thumb {
    background-color: #007398;
    border-radius: 25px;
    transition: .5s;
}
::-webkit-scrollbar-thumb:hover {
    background: #55b8d6;
    transition: .5s;
  }

body{
    background-color: #080025;
    color: white;
    font-family: Dm;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 99;

    div{
        display: flex;
        justify-content: center ;
        align-items: center;
        border-radius: 25px;
        width: 700px;
        height: 2.5em;
        border: 1px rgb(62, 128, 226) solid ;
        background: #ffffff4f;
        box-shadow: -1px 3px 20px 5px #5bc4de75;
        backdrop-filter: blur( 20px );
    }

    ul{
        display: flex;
        list-style-type: none;
        width: 500px;
        justify-content: space-between;
        border-radius: 25px;
    }

    a{
        text-decoration: none;
        color: white;
    }
}

b{
    font-family: DmBold;
    color: rgb(177, 98, 230); ;
}

header{
    display: flex;
    margin-top: 5em;
    justify-content: center;
    height: 30vh;

    aside{
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-bottom: 5em;
        width: 30%;
        p{
            margin-top: 4px;
            width: 95%;
        }
        span,h2{
            color: rgb(230, 160, 31);
        }

        h2{
            font-size:16px;
        }
    }


    img{
        width: 24px;
        height: 24px;
    }


    .icon{
        border-radius: 9999px;
        width: 230px;
        height: 230px ;
        mask-image: linear-gradient(black 90%, transparent);
    }

}

.container{
    display: flex;
    gap: 1em;
    margin-top: 12px;

    a{
        text-decoration: none;
        color: white;
    }
}

button{
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    background-color: #2615db3b;
    color: white;
    border: 1px rgb(62, 128, 226) solid ;
    width: 13em;
    height: 2.6em;
    cursor: pointer;
    transition: .2s all;
    font-family: DmSemi;

    img{
        margin-left: 1em;
    }

    p{
        margin-bottom: 3px;
    }

    &:hover{
        background-color: #554cb9d5;
    }
}

section{
    height: 100vh;
}